/*
Theme Name: Wordpress Express
Version: 1.6.2.6
Author: Add People
Description: A highly customisable modular theme built for speed
*/

/* reboot overrides */
body {
    font-size: 16px !important;
}

/*defaults*/

.white-bg {
    background-color: white;
}

.black-bg {
    background-color: black;
}

.light-grey-bg {
    background-color: #EFF1F7;
}

.dark-grey-bg {
    background-color: #464950;
}

.see-thru-black-bg {
    background-color: rgba(0, 0, 0, 0.6);
}

.see-thru-white-bg {
    background-color: rgba(255, 255, 255, 0.6);
}

.overflow-hidden {
    overflow: hidden;
}

/*Text */
.white-text, .white-text a, a.white-text {
    color: white !important;
}

.light-grey-text, .light-grey-text a, a.light-grey-text {
    color: #F3F3F3 !important;
}

.dark-grey-text, .dark-grey-text a, a.dark-grey-text {
    color: #464950 !important;
}

.black-text, .black-text a, a.black-text {
    color: black;
}

.star-colour {
    color: #FFA000;
}

.heavy-font {
    font-weight: 700;
}

.justify-text {
    text-align: justify;
}

.centre-text {
    text-align: center;
}

.wide-kerning {
    letter-spacing: 3px;
}

/*borders*/
.thin-white-border {
    border: 2px solid white;
}

.white-border {
    border: 5px solid white;
}

.light-grey-border {
    border: 5px solid #F3F3F3;
}

.grey-border {
    border: 5px solid #aaaaaa;
}

.dark-grey-border {
    border: 5px solid #464950;
}

.thin-black-border {
    border: 1px solid black;
}

.thin-grey-border {
    border: 1px solid #aaaaaa;
}

.black-border {
    border: 5px solid black;
}

.tiny-font {
    font-size: 10px !important;
}

.small-icon, .small-font {
    font-size: 14px;
}

/*iconography*/
.medium-icon, .medium-font, .medium-icon i {
    font-size: 24px;
}

.header-icon, .large-icon, .large-font {
    font-size: 32px !important; /* TODO: Whhhy */
    line-height: 32px;
}

.featured-icon, .featured-font {
    font-size: 64px !important;
}

/*header settings*/
.primary-menu-wrap .menu, .mobile-mega-menu .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.primary-menu-wrap .menu li {
    padding: 20px 10px;
    border-bottom: 5px solid transparent;
    position: relative;
}

.primary-menu-wrap .menu .menu-item-has-children > .sub-menu {
    list-style: none;
    padding: 0;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0px;
}

.primary-menu-wrap .menu .menu-item-has-children:hover > .sub-menu {
    display: block;
    /*min-width: 300px;*/
    /*-webkit-box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.6);*/
    /*-moz-box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.6);*/
    /*box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.6);*/
}

.sub-menu > li {
    padding: 10px 20px;
}

.sub-menu > .menu-item {
    transition: 1s;
}

.sub-menu > .menu-item:hover {
    transition: 1s;
    background: #6B6B6B;
}

.header-wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    filter: grayscale(100%) brightness(200%) saturate(0%) contrast(50%);
}

/*css appearance things*/
.fixed-line-height {
    height: 1px;
    margin: 10px 0;
    width: 100%;
}

/*spacing*/

.margin-auto {
    margin: auto;
}

.margin-2-all-round {
    margin: 2px;
}

.margin-10-right {
    margin-right: 10px;
}

.margin-10-all-round {
    margin: 10px;
}

.margin-10-left {
    margin-left: 10px;
}

.margin-10-top {
    margin-top: 10px;
}

.margin-10-bottom {
    margin-bottom: 10px;
}

.margin-20-top {
    margin-top: 20px;
}

.margin-50-top {
    margin-top: 50px;
}

.margin-50-right {
    margin-right: 50px;
}

.margin-20-bottom {
    margin-bottom: 20px;
}

.margin-50-bottom {
    margin-bottom: 50px;
}

.margin-5-left {
    margin-left: 5px;
}

.margin-5-left-n-right {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-10-left-n-right {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-20-top-n-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-20-left-n-right {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-20-all-round {
    margin: 20px;
}

.pad-20-top {
    padding-top: 20px;
}

.pad-5-top-n-bottom {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-10-top-n-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-20-top-n-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-50-top {
    padding-top: 50px;
}

.pad-50-top-n-bottom {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pad-100-top-n-bottom {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pad-20-left {
    padding-left: 20px;
}

.pad-20-right {
    padding-right: 20px;
}

.pad-10-right {
    padding-right: 10px;
}

.pad-50-bottom {
    padding-bottom: 50px;
}

.pad-20-left-n-right {
    padding-left: 20px;
    padding-right: 20px;
}

.pad-10-left-n-right {
    padding-left: 10px;
    padding-right: 10px;
}

.pad-5-left-n-right {
    padding-left: 5px;
    padding-right: 5px;
}

.pad-5-all-round {
    padding: 5px;
}

.pad-10-all-round {
    padding: 10px;
}

.pad-20-all-round {
    padding: 20px;
}

.pad-15-percent-all-round {
    padding: 15%;
}

/*text mods*/

/*structure*/

.float-to-top {
    position: fixed;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 9999;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.twenty-width {
    width: 20%;
}

.half-width {
    width: 50%;
}

.thirty-percent-width {
    width: 30%;
}

.thirty-five-percent-width {
    width: 35%;
}

.forty-percent-width {
    width: 40%;
}

.sixty-percent-width {
    width: 60%;
}
.eighty-percent-width {
    width: 80%;
}
.ninety-percent-width {
    width: 90%;
}

/*@media screen and (min-width: 1025px) {*/
.make-it-sticky {
    position: sticky;
    top: 0;
    z-index: 9999999;
}
/*}*/

.fill-background {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}

.flex-on {
    display: flex;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row
}

.flex-distribute {
    justify-content: space-between;
}

.flex-to-right {
    justify-content: flex-end;
}

.flex-to-bottom {
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-centre {
    align-items: center;
}

.flex-centre-vertical {
    justify-content: center;
}

.flex-flip-row {
    flex-direction: row-reverse;
}

.position-absolute {
    position: absolute;
}

/*form*/
.wpcf7-form-control {
    width: 100%;
}

.wpcf7-form p {
    margin-bottom: 0;
}

.wpcf7-textarea {
    max-height: 100px;
}

.wpcf7-submit {
    color: white;
    border: none;
    padding: 10px 0;
    width: 100% !important;
}

.wpcf7-submit, .btn, .btn-lg {
    border-radius: 0 !important; /*TODO: Fix this properly*/
}

label {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

/*mailchimp*/
.newsletter-signup .mc4wp-form-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-basis: 50%;*/
    justify-content: center;
}

.newsletter-signup .mc4wp-form-fields input[type='submit'] {
    max-width: 30%;

}

.newsletter-signup .mc4wp-form-fields p {
    min-width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.newsletter-signup .mc4wp-form-fields p > input {
    width: 100%;
    padding: 10px;
}

.newsletter-signup .mc4wp-form-fields p > label {
    color: white;
}

/*.newsletter-signup .mc4wp-form-fields input {*/
/*padding: 10px;*/
/*}*/
.newsletter-signup .mc4wp-form-fields input[type='submit'] {
    width: 100%;
    text-transform: uppercase;
}

.newsletter-signup .mc4wp-form-fields input[type='submit']:hover {
    cursor: pointer;
}

/*@media screen and (min-width: 1025px) {*/
/*.mobile-menu-section {*/
/*visibility: hidden;*/
/*}*/
/*}*/

@media screen and (max-width: 1025px) {
    .primary-menu-wrap .menu .menu-item-has-children:hover::after {
        display: none;
    }

    .primary-menu-wrap:not(.responsive-menu) .menu {
        flex-direction: column;
        display: none;
    }

    .primary-menu-wrap .menu .menu-item-has-children:hover > .sub-menu {
        box-shadow: none;
    }

    .primary-menu-wrap .menu .sub-menu {
        position: relative;
    }

    .primary-menu-wrap .menu li {
        padding: 10px 0;
    }

    .primary-menu-wrap .menu {
        flex-direction: column;
    }

    .menu-dropdown {
        display: block;
        font-size: 30px;
        text-align: right;
    }

    .sub-menu {
        position: relative !important;
        width: 100% !important;
        left: 0 !important;
        margin-top: 10px !important;
        padding-left: 20px !important;
    }

    .third-width-on-mobile {
        width: 33.33333% !important;
    }
}

/*TODO: put media queries into Bootstraps recommended sizes*/
@media (max-width: 414px) {
    .col-on-phones {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .single-item-card, .single-featured-item-card {
        width: 80% !important;
        margin: auto !important;
    }

    .giant-block {
        padding: 15% 8% !important;
    }

    .giant-block h2 {
        font-size: 50px;
    }

    .giant-block .info-box {
        visibility: visible !important;
    }
    .reverse-col-on-mobile {
        flex-direction: column-reverse;
    }

    .centre-text-on-mobile {
        text-align: center;
    }

    .margin-20-bottom-mobile {
        margin-bottom: 20px;
    }

    .fill-width-on-mobile {
        width: 100% !important;
    }

    .no-padding-on-mobile {
        padding: 0 !important;
    }

    .no-margin-on-mobile {
        margin: 0 !important;
    }
    .hide-on-mobile {
        display: none;
    }

    .col-on-mobile {
        flex-direction: column;
    }
    .fixed-height-300-on-mobile {
        height: 300px !important;
    }
}

@media (max-width: 1024px) {
    .header-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-row {
        justify-content: space-around;
        padding: 10px 0;
    }

    .logo-wrapper {
        padding: 10px 0;
    }

    .centre-on-mobile {
        justify-content: center;
    }

    .centre-vertically-on-mobile {
        align-items: center;
    }

    .newsletter-signup .mc4wp-form-fields p {
        min-width: 100%;
    }

    .slider-container {
        /*height: 400px !important;*/
    }

    .info-box.side-mounted {
        border: none !important;
        height: 100% !important;
        max-width: none !important;
        padding: 20px !important;
    }
}

@media (max-width: 1200px) {
    .margin-auto-on-tablet {
        margin: auto;
    }
}

/*temporary scratch*/

/*TODO: Sort all this shit out*/

/*CRAP CODE BELOW*/

img {
    max-width: 100%;
}

.single-project {
    height: 400px;
    position: relative;
}

.single-project .title-block {
    position: absolute;
    bottom: 0;
}

.main-slider-container {
    height: 600px;
}

.owl-carousel, .owl-carousel * {
    height: 100%;
}

.single-slide {
    height: 100%;
    /*width: 100% !important;*/
}

.info-box {
    height: auto;
    /*position: absolute;*/
    /*bottom: 0;*/
    padding: 40px;
    min-width: 50%;
}
.info-box-newsletter {
    padding: 20px;
}


.info-box * {
    height: auto;
    width: 100%;
}

.info-box.side-mounted {
    height: 100%;
    position: absolute;
    bottom: 0;
    padding: 40px;
    max-width: 40%;
}

.cta-container .container {
    height: 100%;
}

.single-item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: flex-start;*/
    padding: 25px 10px;
    width: 22.5%;
    border: 1px solid #eee;
    margin: 5px 0;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s;
}

.single-featured-item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: flex-start;*/
    width: 24%;
    border: 1px solid #ddd;
    margin: 5px 0;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s;
}

.single-product .product-image {
    min-height: 250px;
    max-height: 250px;
}

.owl-item > .single-item-card {
    width: 100%;
    min-height: 300px;
    justify-content: center;
}

.owl-item > .single-item-card .content-area {
    z-index: 99;
}

.single-item-card:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

.single-item-card img {
    border-radius: 50%;
    margin: 10px 0 30px 0;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}

.single-item-card.featured {
    background: rgba(255, 255, 255, 0.4);
}

.cta-container {
    min-height: 400px;
    height: 100px;
    background-position: center center;
    position: relative;
}

.map-container {
    height: 350px;
}

.five-cta-container {
    min-height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.six-cta-container, .six-cta-container .container {
    min-height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.six-cta-container .row {
    min-height: 250px;
}

.featured-product-icon {
    padding: 5px 15px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    position: absolute;
    top: -20px;
    right: -20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.single-cta-wrapper {
    /*border: 4px solid rgba(255, 255, 255, 0.6);*/
    padding: 10px;
}

.striped-bg {
    background: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 3px,
            rgba(0, 0, 0, 0.3) 3px,
            rgba(0, 0, 0, 0.3) 6px
    ),
    transparent;
}

.product-image {
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}

.anchor-to-bottom {
    position: absolute !important;
    bottom: 0;
}

.anchor-to-right {
    position: absolute !important;
    right: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

footer ul li .post-date {
    margin-bottom: 10px;
}

.owl-dots {
    display: none !important;
}

.menu-item-has-children:after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 12px;
    vertical-align: 1px;
}

/*blog*/
.page-title h1 {
    text-align: center;
}

.main-container {
    background: transparent;
}

.blog-container {
    /*visibility: hidden;*/
    background: transparent;
    width: 100%;
}

.blog-entry {
    width: 31%;
    background: #ffffff;
    margin: 5px;
    padding: 5px;
    /*border-bottom: 3px solid #00507d;*/
    box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.8);
    /*border-top: 3px solid #00507d;*/
}

@media screen and (max-width: 768px) {
    .blog-entry {
        width: 45%;
    }
}

@media screen and (max-width: 640px) {
    .blog-entry {
        width: 90%;
    }
}

.blog-entry h3 {
    margin: .5rem 0;
}

.blog-entry p {
    font-family: 'Lato', sans-serif;
    text-transform: none;
    font-size: 14px;
}

.content-container {
    margin: 10px;
}

.loading-shield {
    display: flex;
    height: 100vw;
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 999;
    justify-content: center;
    align-content: center;
}

article.post {
    padding: 3%;
    /*border-bottom: 3px solid #00507d;*/
    /*box-shadow: 0px 5px 7px -2px rgba(0, 78, 122, 0.8);*/
    /*border-top: 3px solid #00507d;*/
    background: #FFF;
}

article img {
    display: block;
    margin: auto;
    padding: 10px 0;
}

article.post .entry-content > p {
    text-transform: none;
    /*color: white;*/
}

/*giant blocks*/
.giant-block {
    min-height: 670px;
    padding: 15%;
}

.giant-block h2 {
    font-size: 50px;
}

.giant-block .info-box {
    visibility: hidden;
}

.giant-block:hover .info-box {
    visibility: visible;
}

.product-thumbnail {
    width: 100%;
    height: 125px;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: #ededed;
    color: #222;
}

.tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

.circlify {
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.circlify > .featured-icon {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*mega menu*/
.mega-menu-item {
    position: static !important;
}

.mega-menu-pane {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 99999;
    top: 100%;
    left: 0;
}

@media screen and (min-width: 1001px) {
    .mega-menu-item:hover > .mega-menu-pane {
        display: block;
    }
}

.product-column .product-image {
    min-height: 200px !important;
}

.mega-menu-item .menu-option {
    transition: 0.5s;
}

.mega-menu-item .menu-option:hover {
    margin-left: 10px;
    transition: 0.5s;
}

.mega-menu-pane .mega-menu-column:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}

.desktop-mega-menu {
    display: block;
}

.mobile-mega-menu {
    display: none;
}

@media screen and (max-width: 1000px) {
    .desktop-mega-menu {
        display: none;
    }

    .mobile-mega-menu {
        display: block;
    }

    .mega-menu-pane {
        top: 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .mobile-mega-menu-main-wrapper {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: none;
        transition: 1s;
    }

    .mobile-mega-menu-main-wrapper.revealed {
        /*margin-top: 0;*/
        display: block;
        transition: 1s;
    }

    .mobile-mega-menu .menu {
        flex-direction: column;
    }

    .mega-menu-item {
        /*position: relative !important;*/
    }

    .mega-menu-close {
        z-index: 9999;
    }
}

/* dev stuff*/
.dev-border {
    border: red 1px solid;
}

.top-selling-items-slider .owl-nav.disabled {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
}

.top-selling-items-slider .owl-nav {
    height: 100%;
}

.top-selling-items-slider .owl-prev {
    width: auto;
    position: absolute;
    top: 0;
    left: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    color: white;
    background: black;
    padding: 0px 10px;
}

.top-selling-items-slider .owl-next {
    width: auto;
    position: absolute;
    top: 0;
    right: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    color: white;
    background: black;
    padding: 0px 10px;
}

.top-selling-items-slider .owl-next i, .top-selling-items-slider .owl-prev i {
    height: auto;
}

.responsive-thirty-square {
    padding-top: 30%;
}

.responsive-half-square {
    padding-top: 65%;
}

.responsive-square {
    padding-top: 100%;
}

.responsive-square-tall {
    padding-top: 125%;
}

.position-relative {
    position: relative;
}

label {
    font-weight: 300;
}

.single-project {
    height: 400px;
}

.main-slider-container {
    height: 400px;
}

.single-testimonial {
    min-width: 25%;
}

.featured-testimonial-body {
    width: 75%;
}

.sit-on-top {
    z-index: 999 !important;
}

.half-opacity {
    opacity: 0.5;
}

.fixed-line-height-thin {
    height: 1px;
    width: 100%;
}
.fixed-line-height-thick {
    height: 4px;
    margin: 10px 0;
    width: 100%;
}
.fixed-height-200 {
    height: 200px;
}
.fixed-height-300 {
    height: 300px;
}
.fixed-height-600 {
    height: 600px;
}
.module-t-tab {
    cursor: pointer;
    transition: 0.5s;
}
.module-t-tab-body {
    display: none;
}
.module-t-tab-body.active {
    display: block;
}
.spin-it-270 {
    transform: rotate(270deg);
}
.blog-grid-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/*IE flex height fix*/
.ie-flex-fix {
    min-height: auto;
    min-height: auto;
    height: auto;
}

